<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.max.socialworkoutapp" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activity_Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activity_HomeMenu"
            android:label="@string/action_Home">
        </activity>

        <activity
            android:name=".Activity_Registration"
            android:label="Registration">
        </activity>

        <activity
            android:name=".Activity_ChangeProfile"
            android:label="Change Profile">
         </activity>

        <activity
            android:name=".Activity_MyWorkouts"
            android:label="My Workouts">
        </activity>

        <activity
            android:name=".Activity_StorageWorkouts"
            android:label="Storage">
        </activity>

        <activity
            android:name=".Activity_AddToFavorites"
            android:label="Favorites">
        </activity>

        <activity
            android:name=".Activity_Workout"
            android:label="Workout">
        </activity>
        <activity
            android:name=".Activity_CreateNewTask"
            android:label="Create New Task">
        </activity>

        <activity
            android:name=".Activity_Workout_Without_Action"
            android:label="Workout">
        </activity>
        <activity
            android:name=".Activity_Task"
            android:label="Task">

            </activity>
    </application>

</manifest>
